.game-over {
  /* border: 1px solid black; */
  box-shadow: 0 0 2px black;
  margin: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
}

.title {
  font-size: 1.4rem;
}

.retry-btn {
  outline: 1px solid black;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
}

.retry-btn:hover {
  background-color: lightgray;
}

.retry-btn:active {
  background-color: rgb(179, 179, 179);
}